#w0{
    background-image:url(empty1.jpg);
    background-size:44px,93px;
    width:44px;
    height:93px;
}
.sub{
    background-image:url(empty2.jpg);
    background-size:93px,44px;
    width:93px;
    height:44px;
}
img{
    width:93px;
    height:44px;
}
#halftop{
    width:100%;
    height:50%;
}
.tablediv{
    width:fit-content;
    float:left;
    margin-right:5px;
}
.middle{
    text-align:center;
}
.sk{
    width:66px;
    height:17px;
}
#halfbutton{
    position:relative;
    width:100%;
    height:fit-content;
}